.Login_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh; /* 화면 전체 70% 높이를 사용 */
  margin-top: 100px;
  text-align: center; 
  
}

.Login_Body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 900px;
  height: 1000px;
  border: 1px solid gray;
}

.Login_WebIde {
  font-size: 70px;
  margin-bottom: 20px;
  font-weight: bold;
  
}

.Login_Button {
  margin-bottom: 20px;
  color: white;
  background: #4679FD ;
}

.Login_InputBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  
}

.Login_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;
  width: 100%;
  
}

.Login_Id, .Login_Pw {
  margin-bottom: 10px;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  
}

.Login_Btn {
  margin-bottom: 10px;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  
}
.Login_Id input, .Login_Pw input,.Login_Btn button  {
  height: 100%; /*!important : 다른 스타일을 무시하고 해당 스타일을 우선 적용 */
  width: 80%;
  font-size: 30px;
  padding-left: 20px;
  padding-right: 20px;
  
}

.Login_CreateAccount {
  margin-top: 10px;
}

.Login_Link {
  margin-left: 5px;
  color: blue;
  text-decoration: none;
}

.Login_Link:hover {
  text-decoration: underline;
}
/*버튼을 클릭 하는 순간에는 색이 변한다.*/
.Login_Button:active {
  background-color: #6A93FE;
}

