.button {
    width: 100%;
    all: unset;
    background-color: #007bff;
    color: white;
    border-radius: 7px;
    box-sizing: border-box;
    height: 40px;
    width: 196px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.207);
    display: flex; 
  
    justify-content: center;
    transition: background-color 0.1s ease, transform 0.1s ease; 
  }
  
  .button:hover {
    opacity: 0.9;
    cursor: pointer;
  }
  
  .button .text {
    display: flex;
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 600;
    height: 40px;
    letter-spacing: 0;
    line-height: normal;
    align-items: center; 
    justify-content: center; 
  }
  
  .button:active {
    transform: scale(0.97);
  }
  